.nav {
    grid-area: n;
    background-color: #FFE200;
    padding: 10px;
    font-size: 26px;
}

.item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 6px;
    border-radius: 4px;
    cursor: pointer;
}

.item:hover {
    background-color: #eace01;
}

.item a {
    color: rgb(79, 25, 25);
    text-decoration: none;
}

.item a.active {
    color:  rgb(79, 25, 25);
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
}
